/* 通用变量 */

// 颜色
$color-main: #00b5ad;
$color-main-reverse: #fff;
$color-active: blue;
$color-category: #585858;
$color-footer: #5344A0;
$color-post-title: blue;
$color-post-ext-info: #888888;
$color-header-bg: black;
$color-header-a: white;
$color-welcome: whitesmoke;
$color-welcome-bg: #5A81EF;
