@import './base.scss';

.label {
    @include labeld($color-main, $color-main-reverse);
}

.divider {
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(255,255,255,.1);
    margin: 10px 0;
}

.segment {
    border-style: solid;
    margin: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #D8D8D8;
    background-color: $color-main-reverse;

    .segment-head {
        padding: 10px 0 10px 20px;
        background-color: $color-main;
        color: $color-main-reverse;
    }
}
