/* 定制样式 */
body {
    margin: 0;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 15px;
    line-height: normal;
    font-family: Arial, Helvetica;
}
