@import './base.scss';

@mixin markdown-body($is-mobile) {
    @if $is-mobile != 1 {
        min-width: 200px;
        max-width: 980px;
        padding: 45px;
    } @else {
        padding: 10px;
    }
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    background-color: $color-main-reverse;
}

@mixin header($is-mobile) {
    @if $is-mobile != 1 {
        height: 40px;
        padding: 0 10px;
    } @else {
        height: 60px;
        padding: 9px 0 0 10px;
    }
    background-color: $color-main;

    button {
        margin-top: 5px;
        height: 70%;
    }

    a {
        cursor: pointer;
        text-decoration: none;
    }

    a:visited {
        color: $color-main;
    }
}

// pc
@media screen and (min-width: 599px) {
    .markdown-body {
        @include markdown-body(0);
        .pre .code {
            font-size: 130%;
        }
    }
    .header {
        @include header(0);
    }
}

// mobile
@media screen and (max-width: 600px) {
    .markdown-body {
        @include markdown-body(1);
    }
    .header {
        @include header(1);
    }
}

body {
    margin: 0;
    background-color: $color-body-bg;
}

.footer {
    background-color: $color-main;
    color: $color-main-reverse;
    text-align: center;
    padding: 10px 0;
}

.post-header{
    padding-top: 10px;
    text-align: center;
}

.label.reverse {
    @include labeld($color-main-reverse, $color-main);
}
